<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Personagem</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="/personagem/lista" class="links">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1 th:text="'Edite o personagem ' + ${personagem.nome}" class="titulo-alt"></h1><br>
        <form action="#" method="post" style="max-width: 400px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9;">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" style="width: 100%; padding: 10px; margin-bottom: 10px; border-radius: 5px; border: 1px solid #ccc; box-sizing: border-box;">
            <label for="classe">Classe:</label>
            <input type="text" id="classe" name="classe" style="width: 100%; padding: 10px; margin-bottom: 10px; border-radius: 5px; border: 1px solid #ccc; box-sizing: border-box;">
            <label for="nivel">Nível:</label>
            <input type="number" id="nivel" name="nivel" style="width: 100%; padding: 10px; margin-bottom: 10px; border-radius: 5px; border: 1px solid #ccc; box-sizing: border-box;">
            <label for="habilidades">Habilidades:</label>
            <textarea id="habilidades" name="habilidades" style="width: 100%; padding: 10px; margin-bottom: 10px; border-radius: 5px; border: 1px solid #ccc; box-sizing: border-box;"></textarea>
            <label for="backstory">História:</label>
            <textarea id="backstory" name="backstory" style="width: 100%; padding: 10px; margin-bottom: 10px; border-radius: 5px; border: 1px solid #ccc; box-sizing: border-box;"></textarea>
            <button type="submit" style="width: 100%; padding: 10px; border-radius: 5px; border: none; background-color: #4CAF50; color: white; font-weight: bold; cursor: pointer;" onmouseover="this.style.backgroundColor='#45a049';" onmouseout="this.style.backgroundColor='#4CAF50';">Atualizar</button>
        </form>  
    </div>
    <footer class="footer">
        <img src="/images/logo.png" alt="Logo">
    </footer> 
</body>
</html>
