<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Personagem</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="/personagem/lista" class="links">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1 th:text="'Detalhes do Personagem: ' + ${personagem.nome}"></h1>
        <div class="personagemDetails" th:if="${personagem}">
            <p th:text="'ID: ' + ${personagem.id_personagem}"></p>
            <p th:text="'Nome: ' + ${personagem.nome}"></p>
            <p th:text="'Classe: ' + ${personagem.classe}"></p>
            <p th:text="'Nível: ' + ${personagem.nivel}"></p>
            <p th:text="'Habilidades: ' + ${personagem.habilidades}"></p>
            <p th:text="'Backstory: ' + ${personagem.backstory}"></p>
            <p th:text="'ID do Jogador: ' + ${personagem.fk_id_jogador}"></p>
        </div>
        <h1>Lista de historias</h1>
        <table>
            <thead>
                <tr>
                    <th>id_historia</th>
                    <th>Nome</th>
                    <th>Prologo</th>
                    <th>dt_Inicio</th>
                    <th>Presencial</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="historia : ${historia}">
                    <td>
                        <!-- ID do mestre -->
                        <a th:href="@{/participacao/{id_personagem}/{fk_id_mestre}/{id_historia}(id_personagem=${personagem.id_personagem}, fk_id_mestre=${historia.fk_id_mestre}, id_historia=${historia.id_historia})}"
                        th:text="${historia.id_historia}"></a>

                    </td>
                    <td th:text="${historia.nome}"></td>
                    <td th:text="${historia.prologo}"></td>
                    <td th:text="${historia.dt_inicio}"></td>
                    <td th:text="${historia.presencial}"></td>
                </tr>
            </tbody>
        </table>
        <div th:unless="${personagem}">
            <p>Personagem não encontrado!</p>
        </div>
    </div>
    <footer class="footer">
        <img src="/images/logo.png" alt="Logo">
    </footer> 
</body>
</html>
