<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do livro - Taverna do Camaleão</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="/produto/lista" class="links">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1>Detalhes do Livro</h1>
        <div class="detalhes">
            <h2 th:text="${produto.nome_produto}">Nome do Produto</h2>
            <p><strong>ID:</strong> <span th:text="${produto.id_produto}">1</span></p>
            <p><strong>Descrição:</strong> <span th:text="${produto.descricao}">Descrição do produto</span></p>
            <p><strong>Preço:</strong> <span th:text="${produto.preco}">Preço do produto</span></p>
            <p><strong>ID do Usuário:</strong> <span th:text="${produto.fk_id_user}">ID do usuário</span></p>
            <p><strong>Estado do livro</strong> <span th:text="${produto.estado}">Estado do livro</p>
            <p><strong>Quantidade de páginas:</strong> <span th:text="${produto.qtd_paginas}">Quantidade de páginas do
                    livro</span></p>
        </div>
        <a th:href="@{/finalizar/compra/{id_produto}(id_produto=${produto.id_produto})}" style="text-decoration: none;"><button
                class="button-compra">Comprar</button></a>
    </div>
    <footer class="footer">
        <img src="/images/logo.png" alt="Logo">
    </footer>
</body>

</html>