<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="/users/lista" class="links">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1 th:text="'Detalhes de ' + ${user.user_name}"></h1>
        <div class="userDetails" th:if="${user}">
            <p th:text="'ID: ' + ${user.id_user}"></p>
            <p th:text="'Nome: ' + ${user.user_name}"></p>
            <p th:text="'Contato 1: ' + ${user.contato1}"></p>
            <p th:text="'Contato 2: ' + ${user.contato2}"></p>
            <p th:text="'Estado: ' + ${user.estado}"></p>
            <p th:text="'Cidade: ' + ${user.cidade}"></p>
            <p th:text="'Bairro: ' + ${user.bairro}"></p>
            <p th:text="'Rua: ' + ${user.rua}"></p>
            <p th:text="'Número: ' + ${user.numero}"></p>
            <p th:text="'Complemento: ' + ${user.complemento}"></p>
        </div>
        <div th:unless="${user}">
            <p>User not found!</p>
        </div>
    </div>
    <footer class="footer">
        <img src="/images/logo.png" alt="Logo">
    </footer>
</body>
</html>
