<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Mestre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="/mestres/lista" class="links">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1>Detalhes do mestre</h1>
        <div class="detalhes" th:if="${mestre}">
            <h2 th:text="${mestre.fk_id_user}">ID do mestre</h2>
            <p><strong>ID: </strong> <span th:text="${mestre.fk_id_user}">ID</span></p>
            <p><strong>NPC: </strong> <span th:text="${mestre.npc}">NPC</span></p>
            <p><strong>Monstro: </strong> <span th:text="${mestre.monstro}">Monstro</span></p>
            <a th:href="@{/historia/cadastro/{id}(id=${mestre.fk_id_user})}" class="links" 
                                style="text-shadow: 1px 1px 1px black;
                                    text-decoration: none; color: #D2B48C;"
                                    onmouseover="this.style.color='green';" onmouseout="this.style.color='#D2B48C';">
                                Criar historia
                            </a>
        </div>
        <div th:unless="${mestre}">
            <p>Mestre não encontrado!</p>
        </div>
    </div>
    <footer class="footer">
        <img src="/images/logo.png" alt="Logo">
    </footer>
</body>
</html>
