<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <style>
        .userDetails {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 20px;
            background-color: #f9f9f9;
        }

        .userDetails p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <header>
        <div class="headerCabecalho", 
            style="text-shadow: 1px 1px 1px black; display: flex; flex-flow: row nowrap;
                    width: 100%; height: 100px; justify-content: space-around; align-items: center;
                    background-color: rgb(63, 0, 63); background-size: contain; background-repeat: repeat-x;">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo", 
                        style="width: 27%; align-items: start;">
                    <aside class="tituloNav", 
                        style="position: absolute; top: 40px; right: 800px;
                            width: 380px; height: 200px;">
                        <h2 style="color: #D2B48C;">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho", 
                    style="display: flex; flex-flow: row nowrap;">
                    <ul style="display: flex; flex-flow: row nowrap;">
                        <a href="/" class="links" 
                                style="text-shadow: 1px 1px 1px black;
                                    text-decoration: none; color: #D2B48C;"
                                    onmouseover="this.style.color='green';" onmouseout="this.style.color='#D2B48C';">
                                Voltar
                        </a>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1 th:text="'Detalhes de ' + ${user.user_name}"></h1>
        <div class="userDetails" th:if="${user}">
            <p th:text="'ID: ' + ${user.id_user}"></p>
            <p th:text="'Nome: ' + ${user.user_name}"></p>
            <p th:text="'Contato 1: ' + ${user.contato1}"></p>
            <p th:text="'Contato 2: ' + ${user.contato2}"></p>
            <p th:text="'Estado: ' + ${user.estado}"></p>
            <p th:text="'Cidade: ' + ${user.cidade}"></p>
            <p th:text="'Bairro: ' + ${user.bairro}"></p>
            <p th:text="'Rua: ' + ${user.rua}"></p>
            <p th:text="'Número: ' + ${user.numero}"></p>
            <p th:text="'Complemento: ' + ${user.complemento}"></p>
        </div>
        <div th:unless="${user}">
            <p>User not found!</p>
        </div>
    </div>
    <footer class="footer" style="
            width: 100%; 
            text-align: center; 
            font-weight: bold;
            font-style: italic;
            background-color: rgb(63, 0, 63);">
        <img src="/images/logo.png" alt="Logo", 
        style="width: 10%; align-items: start;">
    </footer>
</body>
</html>
