<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da História</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="/historia/lista" class="links">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1>Detalhes da História</h1>
        <div class="detalhes" th:if="${historia}">
            <h2 th:text="${historia.nome}">Nome da história</h2>
            <p><strong>Nome: </strong> <span th:text="${historia.nome}">Nome</span></p>
            <p><strong>Prólogo: </strong> <span th:text="${historia.prologo}">Prólogo</span></p>
            <p><strong>Quantidade de jogadores: </strong> <span th:text="${historia.qtd_jogadores}">Quantidade de jogadores</span></p>
            <p><strong>Data de início: </strong> <span th:text="${historia.dt_inicio}">Data de início</span></p>
            <p>
                <strong>Presencial:</strong>
                <span th:text="${historia.presencial} ? 'Sim' : 'Não'"></span>
            </p>
            <p><strong>ID do mestre: </strong> <span th:text="${historia.fk_id_mestre}">ID do mestre</span></p>
        </div>
        <div th:unless="${historia}">
            <p>História não encontrada!</p>
        </div>
    </div>
    <footer class="footer" style="
            width: 100%; 
            text-align: center; 
            font-weight: bold;
            font-style: italic;
            background-color: rgb(63, 0, 63);">
        <img src="/images/logo.png" alt="Logo" , style="width: 10%; align-items: start;">
    </footer>
</body>

</html>