<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Formulário de Denúncia</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="/users/lista" class="links">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="denuncia">
            <h1>Formulário de Denúncia</h1>
            <form
                th:action="@{/users/denuncia/{currentUserId}/{id_user}(currentUserId=${currentUserId}, id_user=${idUser})}"
                method="post" class="form-denuncia">
                <label for="comentario">Comentário:</label><br>
                <textarea id="comentario" name="comentario" rows="4" cols="50" required></textarea><br>
                <button type="submit" class="custom-button-b" onmouseover="showText()" onmouseout="hideText()">
                    <i class="fas fa-flag"></i>
                    <span id="button-text-b">Denunciar usuário</span>
                </button>
            </form>
        </div>
    </div>
    <footer class="footer">
        <img src="/images/logo.png" alt="Logo">
    </footer>
    <script>
        function showText() {
            document.getElementById("button-text").style.opacity = "1";
        }

        function hideText() {
            document.getElementById("button-text").style.opacity = "0";
        }
    </script>
</body>

</html>