<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>NOME DO SITE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Iste minima sunt, architecto quibusdam excepturi assumenda, 
            enim, cupiditate sint ad voluptatibus voluptates repellendus nihil? 
            Sequi animi ea, perspiciatis soluta necessitatibus minima laboriosam 
            dolorem nihil incidunt aliquam nostrum libero possimus voluptatum amet 
            porro corrupti, quia quam accusamus pariatur consectetur, neque itaque ipsam?
        </p>
    </div>
</body>
</html>