<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taverna do Camaleão</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="users/cadastro" class="links">Cadastro</a></li>
                        <li><a href="users/cadastro" class="links">Sobre</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1 style="text-align: center;">Bem vindos, Aventureiros!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eius cumque quod excepturi ullam dicta, nemo doloribus architecto sed magnam modi vitae omnis esse repellendus dolore, libero qui voluptas commodi, blanditiis debitis magni impedit adipisci quas at. Facere dolores aliquid ipsam voluptatum eligendi consequatur ut neque, debitis vitae dignissimos corrupti quas totam aspernatur earum quidem harum quis. Magni, vitae placeat.
        </p><br>
        <form action="/users/lista" method="get">
            <button type="submit" class="custom-button">Ver todos os usuários</button>        
        </form><br>
        <form action="/mestres/lista" method="get">
            <button type="submit" class="custom-button">Ver todos os mestres</button>        
        </form><br>
        <form action="/jogador/lista" method="get">
            <button type="submit" class="custom-button">Ver todos os jogadores</button>        
        </form><br>
        <form action="/historia/lista" method="get">
            <button type="submit" class="custom-button">Ver todas as histórias</button>        
        </form>                        
    </div>
    <footer class="footer">
        <img src="/images/logo.png" alt="Logo">
    </footer>
</body>
</html>