<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Histórias</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="/" class="links">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container-list">
        <h1>Lista de Historia</h1>
        <table>
            <thead>
                <tr>
                    <th>id_historia</th>
                    <th>Nome</th>
                    <th>Prologo</th>
                    <th>Qtd Jogadores</th>
                    <th>dt_Inicio</th>
                    <th>Presencial</th>
                    <th>fk_id_mestre</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="historia : ${historia}">
                    <td>
                        <!-- ID do mestre -->
                        <a th:href="@{/historia/{id}(id=${historia.id_historia})}" th:text="${historia.id_historia}"></a>
                    </td>
                    <td th:text="${historia.nome}"></td>
                    <td th:text="${historia.prologo}"></td>
                    <td th:text="${historia.qtd_jogadores}"></td>
                    <td th:text="${historia.dt_inicio}"></td>
                    <td th:text="${historia.presencial}"></td>
                    <td th:text="${historia.fk_id_mestre}"></td>
                    <td>
                        <a th:href="@{/historia/alterar/{id}(id=${historia.id_historia})}">Editar</a>
                        <a th:href="@{/historia/excluir/{id}(id=${historia.id_historia})}"
   onclick="return confirm('Tem certeza que deseja excluir essa Historia?')">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer class="footer">
        <img src="/images/logo.png" alt="Logo">
    </footer> 
</body>
</html>
