<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 3 Histórias Longas</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Top 3 Histórias Longas</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="/" class="links">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="titulo-lista">
            <h1>Histórias mais longas</h1>
            <div class="button-container">
                <a href="/users/ranking">
                    <button class="change">
                        Users
                    </button>
                </a>
            </div>
            <div class="button-container">
                <a href="/mestres/ranking">
                    <button class="change">
                        Mestres
                    </button>
                </a>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nome da História</th>
                    <th>Data de Início</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="historia : ${historias}">
                    <td th:text="${historia.nome}">Nome da História</td>
                    <td th:text="${historia.dt_inicio}">Data de Início</td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer class="footer">
        <img src="/images/logo.png" alt="Logo">
    </footer>
</body>

</html>