<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de usuários</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="/" class="links">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container-list">
        <h1>Lista de Mestres</h1>
        <table>
            <thead>
                <tr>
                    <th>fk_id_user</th>
                    <th>NPC</th>
                    <th>Monstro</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mestre : ${mestres}">
                    <td>
                        <!-- ID do mestre -->
                        <a th:href="@{/mestres/{id}(id=${mestre.fk_id_user})}" th:text="${mestre.fk_id_user}"></a>
                    </td>

                    <td th:text="${mestre.npc}"></td>
                    <td th:text="${mestre.monstro}"></td>
                    <td>
                        <a th:href="@{/mestres/alterar/{id}(id=${mestre.fk_id_user})}">Editar</a>
                        <a th:href="@{/mestres/excluir/{id}(id=${mestre.fk_id_user})}"
   onclick="return confirm('Tem certeza que deseja excluir esse mestre?')">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer class="footer">
        <img src="/images/logo.png" alt="Logo">
    </footer> 
</body>
</html>
