<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Personagens</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <style>
        /* Estilos adicionais podem ser colocados aqui */
    </style>
</head>
<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="/" class="links">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container-list">
        <h1>Lista de Personagens</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Classe</th>
                    <th>Nível</th>
                    <th>Habilidades</th>
                    <th>BackStory</th>
                </tr>
            </thead>
            <tbody>
                <!-- Itera sobre a lista de personagens -->
                <tr th:each="personagem : ${personagem}">
                    <td>
                        <!-- ID do mestre -->
                        <a th:href="@{/personagem/{id}(id=${personagem.id_personagem})}" th:text="${personagem.id_personagem}"></a>
                    </td>
                    <td th:text="${personagem.nome}"></td>
                    <td th:text="${personagem.classe}"></td>
                    <td th:text="${personagem.nivel}"></td>
                    <td th:text="${personagem.habilidades}"></td>
                    <td th:text="${personagem.backstory}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer class="footer">
        <img src="/images/logo.png" alt="Logo">
    </footer> 
</body>
</html>
