<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de usuários</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="/" class="links">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container-list">
        <h1>Lista de usuários</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome de Usuário</th>
                    <th>Contato 1</th>
                    <th>Contato 2</th>
                    <th>Estado</th>
                    <th>Cidade</th>
                    <th>Bairro</th>
                    <th>Rua</th>
                    <th>Número</th>
                    <th>Complemento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td>
                        <a th:href="@{/users/{id}(id=${user.id_user})}" th:text="${user.id_user}"></a>
                    </td>
                    <td th:text="${user.user_name}"></td>
                    <td th:text="${user.contato1}"></td>
                    <td th:text="${user.contato2}"></td>
                    <td th:text="${user.estado}"></td>
                    <td th:text="${user.cidade}"></td>
                    <td th:text="${user.bairro}"></td>
                    <td th:text="${user.rua}"></td>
                    <td th:text="${user.numero}"></td>
                    <td th:text="${user.complemento}"></td>
                    <td>
                        <a th:href="@{/redirecionar/{id}(id=${user.id_user})}">Opções</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer class="footer" style="
            width: 100%; 
            text-align: center; 
            font-weight: bold;
            font-style: italic;
            background-color: rgb(63, 0, 63);
            bottom: 0;">
        <img src="/images/logo.png" alt="Logo", 
        style="width: 10%; align-items: start;">
    </footer>
</body>
</html>
