<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Personagens</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="/" class="links">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container-list">
        <div class="titulo-lista">
            <h1>Lista de Personagens</h1>
            <div class="button-container">
                <a href="/personagem/lista/alfabetico">
                    <button class="change">
                        A - Z
                    </button>
                </a>
                <a href="/personagem/lista/nivel">
                    <button class="change">
                        LVL
                    </button>
                </a>
                <a href="/personagem/lista">
                    <button class="change">
                        ID
                    </button>
                </a>
            </div>
        </div>
        <div class="search-container">
            <p>Busca personagens de uma classe específica? Encontre aqui!</p>
            <form action="/personagem/classe" method="get">
                <input type="text" name="classe" placeholder="Digite a classe" required>
                <button type="submit">Buscar</button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Classe</th>
                    <th>Nível</th>
                    <th>Habilidades</th>
                    <th>BackStory</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="personagem : ${personagem}">
                    <td>
                        <a th:href="@{/personagem/{id}(id=${personagem.id_personagem})}"
                            th:text="${personagem.id_personagem}"></a>
                    </td>
                    <td th:text="${personagem.nome}"></td>
                    <td th:text="${personagem.classe}"></td>
                    <td th:text="${personagem.nivel}"></td>
                    <td th:text="${personagem.habilidades}"></td>
                    <td th:text="${personagem.backstory}"></td>
                    <td>
                        <a th:href="@{/personagem/alterar/{id}(id=${personagem.id_personagem})}">Editar</a>
                        <a th:href="@{/personagem/excluir/{id}(id=${personagem.id_personagem})}"
                            onclick="return confirm('Tem certeza que deseja excluir essa Personagem?')">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer class="footer">
        <img src="/images/logo.png" alt="Logo">
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchContainer = document.querySelector('.search-container');
            const toggleButton = document.createElement('button');
            toggleButton.textContent = 'Busca alguma classe específica?';
            toggleButton.classList.add('toggle-button');
            searchContainer.parentNode.insertBefore(toggleButton, searchContainer);

            toggleButton.addEventListener('click', function () {
                searchContainer.classList.toggle('show-search');
            });
        });
    </script>
</body>

</html>