<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mestre</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <form action="#" method="post">
        <input type="text" name="fk_id_user" placeholder="id_user" required>
        <input type="text" name="npc" placeholder="NPC" required>
        <input type="text" name="monstro" placeholder="Monstros" required>
        <button type="submit">Cadastrar</button>
    </form>    
</body>
</html>