<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Mestres</title>
</head>
<body>
    <h1>Listagem de Mestres</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <!-- Adicione mais colunas conforme necessário -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="mestre : ${mestres}">
                <td th:text="${mestre.fk_id_user}"></td>
                <td th:text="${mestre.nome}"></td>
                <!-- Adicione mais colunas conforme necessário -->
            </tr>
        </tbody>
    </table>
</body>
</html>
