<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="/personagem/lista" class="links">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1>Participe dessa história!</h1><br>
        <div>
            <p>id_personagem: <span id="idPersonagem"></span></p>
            <p>fk_id_mestre: <span id="fkIdMestre"></span></p>
            <p>id_Historia: <span id="idHistoria"></span></p>
        </div>
        <form id="cadastroForm" method="post">
            <input type="text" name="fk_id_personagem" id="fk_id_personagem" placeholder="id_personagem"
                style="display: none;">
            <input type="text" name="fk_id_mestre" id="fk_id_mestre" placeholder="fk_id_mestre" style="display: none;">
            <button type="submit" class="button-b">Cadastrar</button>
        </form>
    </div>

    <footer class="footer">
        <img src="/images/logo.png" alt="Logo">
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Obter a URL atual
            var url = new URL(window.location.href);
            // Obter o último e penúltimo segmento da URL (que são id_personagem e fk_id_mestre)
            var segments = url.pathname.split('/');
            var idPersonagem = segments[segments.length - 3];
            var fkIdMestre = segments[segments.length - 2];
            var idHistoria = segments[segments.length - 1]

            // Exibir os valores na página
            document.getElementById('idPersonagem').value = idPersonagem;
            document.getElementById('fkIdMestre').value = fkIdMestre;
            document.getElementById('idHistoria').value = idHistoria;

            // Exibir os valores na console como exemplo
            console.log('id_personagem:', idPersonagem);
            console.log('fk_id_mestre:', fkIdMestre);
            console.log('id_historia', idHistoria);
        });
    </script>
</body>

</html>