<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecionar</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="/users/lista" class="links">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container" style="text-align: center;">
        <h1 th:text="'Ações para ' + ${user.user_name}"></h1><br>
        <a th:href="@{/users/alterar/{id}(id=${user.id_user})}">
            <button type="submit" class="button-b">Editar usuário</button>
        </a>
        <a th:href="@{/mestres/cadastro/{id}(id=${user.id_user})}">
            <button type="submit" class="button-b">Criar perfil mestre</button>
        </a>
        <a th:href="@{/personagem/cadastro/{id}(id=${user.id_user})}">
            <button type="submit" class="button-b">Criar personagem</button>
        </a>
        <a th:href="@{/users/historias/{id}(id=${user.id_user})}">
            <button type="submit" class="button-b">Ver historias que participo</button>
        </a>
        <a th:href="@{/produto/{id}(id=${user.id_user})}">
            <button type="submit" class="button-b">Criar produto</button>
        </a>
        <a th:href="@{/produto/usuario/{fk_id_user}(fk_id_user=${user.id_user})}">
            <button type="submit" class="button-b">Ver meus produtos</button>
        </a>
        <a th:href="@{/users/denuncia/{id}(id=${user.id_user})}">
            <button type="submit" class="button-b-delete">Denuncia usuario</button>
        </a>
        <a th:href="@{/users/verDenuncia/{id}(id=${user.id_user})}">
            <button type="submit" class="button-b-delete">Ver quem me deunciou</button>
        </a>
        <a th:href="@{/jogador/excluir/{id}(id=${user.id_user})}">
            <button type="submit" class="button-b-delete">Deletar personagem</button>
        </a>
        <a th:href="@{/users/excluir/{id}(id=${user.id_user})}"
        onclick="return confirm('Tem certeza que deseja excluir esse usuário?')">
            <button type="submit" class="button-b-delete">Excluir usuário</button>
        </a>
        

    </div>
    <footer class="footer">
        <img src="/images/logo.png" alt="Logo">
    </footer>
</body>
</html>