<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Top 3 Mestres por Participações</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <header class="cabecalho">
        <div class="headerCabecalho">
            <div class="logo">
                <hgroup>
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                    <aside class="tituloNav">
                        <h2 class="titulo">Taverna do Camaleão</h2>
                    </aside>
                </hgroup>
            </div>
            <nav>
                <div class="navbarCabecalho">
                    <ul>
                        <li><a href="/" class="links">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="titulo-lista">
            <h1>Mestres com mais participações</h1>
            <div class="button-container">
                <a href="/users/ranking">
                    <button class="change">
                        Users
                    </button>
                </a>
            </div>
            <div class="button-container">
                <a href="/historia/top3longas">
                    <button class="change">
                        Histórias
                    </button>
                </a>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID do Mestre</th>
                    <th>Participações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mestre : ${mestres}">
                    <td th:text="${mestre.fk_id_user}">ID do Mestre</td>
                    <td th:text="${mestre.numHistorias}">Participações</td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer class="footer">
        <img src="/images/logo.png" alt="Logo">
    </footer>
</body>

</html>