* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'EB Garamond';
    background-image: url('../images/old_paper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    margin-right: 700px;
}

.headerCabecalho {
    text-shadow: 1px 1px 1px black;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    background-color: rgb(63, 0, 63);
    background-size: contain;
    background-repeat: repeat-x;
    padding: 0 20px;
}

.logo-img {
    width: 180%;
    max-width: 120px;
}

.tituloNav {
    position: absolute;
    top: 40px;
    right: 750px;
    width: 380px;
    height: 200px;
}

.titulo {
    color: #D2B48C;
}

.navbarCabecalho ul {
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbarCabecalho li {
    margin-left: 15px;
}

.links {
    text-decoration: none;
    color: #D2B48C;
}

.links:hover {
    color: green;
}

.links-second {
    text-decoration: none;
    color: #000;
}

.links-second:hover {
    color: green;
}

.titulo-alt {
    text-align: center;
}

.container {
    background-color: white;
    box-sizing: border-box;
    margin: 0 auto;
    width: 70%;
    min-height: 450px;
    padding: 30px 30px;
}

.custom-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #45a049;
}

.button-b {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 2% 0;
}

.button-b:hover {
    background-color: #45a049;
}

.button-b-delete {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #d11717;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 2% 0;
}

.button-b-delete:hover {
    background-color: #f10e0e;
}

.footer {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(63, 0, 63);
}

.footer img {
    width: 10%;
    align-items: start;
}
