@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

* {
    font-family: 'EB Garamond';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/old_paper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    margin-right: 700px;
}

.headerCabecalho {
    text-shadow: 1px 1px 1px black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    background-color: rgb(63, 0, 63);
    background-size: contain;
    background-repeat: repeat-x;
    padding: 0 20px;
}

.logo-img {
    width: 180%;
    max-width: 120px;
    filter: drop-shadow(3px 1px 4px green);
}

.tituloNav {
    position: absolute;
    top: 40px;
    right: 750px;
    width: 380px;
    height: 200px;
}

.titulo {
    color: #D2B48C;
}

.navbarCabecalho ul {
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbarCabecalho li {
    margin-left: 15px;
}

.links {
    text-decoration: none;
    color: #D2B48C;
}

.links:hover {
    color: green;
}

.links-second {
    text-decoration: none;
    color: #000;
}

.links-second:hover {
    color: green;
}

.titulo-alt {
    text-align: center;
}

.container {
    background-color: white;
    box-sizing: border-box;
    margin: 0 auto;
    width: 70%;
    min-height: 450px;
    padding: 30px 30px;
    border: 2px solid black;
    border-bottom: none;
    border-top: none;
}

.index-form {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.index-subt {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.redirect-text {
    text-align: left;
    margin-bottom: 20px;
}

.container-list {
    min-height: 400px;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgb(63, 0, 63);
    color: #D2B48C;
}

tr {
    background-color: #f2f2f2;
}

.custom-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #4CAF50;
    transition: width 0.3s, height 0.3s, background-color 0.3s, border-radius 0.3s;
    margin: 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#button-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-button i {
    transition: transform 0.3s;
}

.custom-button:hover {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    background-color: #45a049;
}

.custom-button:hover #button-text {
    opacity: 1;
}

.custom-button:hover i {
    transform: scale(1.2);
    opacity: 0;
}

.custom-button-b {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #f44336;
    transition: width 0.3s, height 0.3s, background-color 0.3s, border-radius 0.3s;
    margin: 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#button-text-b {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-button-b i {
    transition: transform 0.3s;
}

.custom-button-b:hover {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    background-color: #d32f2f;
}

.custom-button-b:hover #button-text-b {
    opacity: 1;
}

.custom-button-b:hover i {
    transform: scale(1.2);
    opacity: 0;
}

.denuncia {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.form-denuncia label {
    font-weight: bold;
}

.form-denuncia textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}

.button-b {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 2% 0;
}

.button-b:hover {
    background-color: #45a049;
}

.button-b-delete {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #d11717;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 2% 0;
}

.button-b-delete:hover {
    background-color: #f10e0e;
}

.button-compra {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 2% auto;
    display: block;
}

.button-compra:hover {
    background-color: #45a049;
}

.titulo-lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.titulo-lista h1 {
    margin: 0;
    font-size: 34px;
}

.titulo-lista .change {
    width: auto;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: rgb(63, 0, 63);
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 2% 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.titulo-lista .change:hover {
    background-color: rgb(116, 0, 116);
    transform: scale(1.05);
}

.titulo-lista a {
    text-decoration: none;
}

.titulo-lista .button-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-container {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 350px;
}

.search-container p {
    margin-bottom: 10px;
    font-size: 16px;
}

.search-container form {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 8px;
    border: 1px solid #000;
    border-radius: 3px;
    margin-right: 10px;
    flex-grow: 0.5;
    max-width: 200px;
}

.search-container button[type="submit"] {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button[type="submit"]:hover {
    background-color: #45a049;
}

.toggle-button {
    margin-bottom: 10px;
    background-color: rgb(63, 0, 63);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

.search-container {
    display: none;
}

.search-container.show-search {
    display: block;
}

.error-text {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}

.error-text p {
    margin: 10px 0;
    font-size: 16px;
}

.detalhes {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detalhes h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.detalhes p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.detalhes p strong {
    color: #000;
}

.finalizar-compra {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.finalizar-compra h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.finalizar-compra p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.finalizar-compra .form-group {
    margin-bottom: 15px;
}

.finalizar-compra .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 18px;
}

.finalizar-compra .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.finalizar-compra .form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.finalizar-compra .form-group input[type="submit"]:hover {
    background-color: #45a049;
}

.footer {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(63, 0, 63);
}

.footer img {
    width: 10%;
    align-items: start;
    filter: drop-shadow(3px 1px 4px green);
}