body {
    background-color: darkblue;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 80%;
    background-color: aqua;
}

h1 {
    color: darkblue;
}

p {
    font-size: 18px;
}
